<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="#">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <h1>Natural Language Processing</h1>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section id="resultBox">
                <h2>Results: <p id="inv"></p></h2>
                <ul id="results">
                    <li id="polarity">Polarity: </li>
                    <li id="confidence">Confidence: </li>               
                </ul>
                
            </section>
        </main>

        <footer>
            <p>2020</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
