header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    background-color: grey;
    width: 80%;
    margin: auto;
    height: 150px;
}

.logo {
    font-size: 2em;
    color: white;
}